###Question 1.
#####What are the two values of the Boolean data type? How do you write them?

######solution :- 
Python has a built-in data type called Boolean. It’s used to represent the truth value of an expression. For that it use True/False where,
######True=1 and False=0 
######For example:-
Let the expression is 1 <= 2 is True, while the expression 0 == 1 is False.

In [6]:
a=67
print(a >100)
print(a < 100)

False
True

In [ ]:
a = 400
b = 366

if b > a:#here we check expression (b>a) is True or false if True execute this.
  print("b is greater than a")
else:#if not True or False then execute this
  print("b is not greater than a")



---

---

###Question 2.
#####What are the three different types of Boolean operators?
###AND | OR | Not
#####and = Returns True if both statements are true
#####or = Returns True if one of the statements is true
#####not = Reverse the result, returns False if the result is true

In [7]:
# And example
stayement_1=True
stayement_2=False
if stayement_1==True and stayement_2==True:
  print("Both statment's are True ")
else:
  print("One of the statment's are False ")

One of the statment's are False

In [ ]:
# OR example
stayement_1=True
stayement_2=False
if stayement_1==True or stayement_2==True:#if any one statment goes correct it give (True)
  print("One statment's are True ")
else:#if both statment goes false then (False)
  print("One of the statment's are False ")

In [9]:
# NOT example
stayement_1=True
stayement_2=False
stayement_1=not stayement_1
print(stayement_1)
stayement_2=not stayement_2
print(stayement_2)

False
True



---



---

###**Question 3.**
######Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).
##  Logical opertors 

Keywords | Meaning
- | - 
and | conditional AND
or | conditional OR
not | unary negation

#AND
input(1) | input(2) | Result(1*2)
- | - | -
False | False | False
False | True | False
True | False | False
True | True | True

#OR
input(1) | input(2) | Result
- | - | -
False | False | False
False | True | True
True | False | True
True | True | True

#NOT
input | Result
- | -
False | True
True | False


---



---

###**Question 4.** 
#####What are the values of the following expressions?


---


#####* (5 > 4) and (3 == 5)  
solution :- **True and False = False**


---


#####* not (5 > 4).          
solution :- **not ( True ) = False**


---


##### * (5 > 4) or (3 == 5) 
solution :- **True or False = True**


---


#####* not ((5 > 4) or (3 == 5)) 
solution :- **not ( True ) or False => False or False =False**


---


#####* (True and True) and (True == False) 
solution :- **True and False = False**


---


#####* (not False) or (not True)
solution :- **True or False = False**



---



---

###Question 5. 
######What are the six comparison operators?
Operator | Name | Example
-|-|-
== | Equal | A == B
!= | Not Equal | A != B
> | Grater than | A > B
< | Less than | A < B
>= | Greater than or equal to | A >= B
<= | Less than or equal to | A <= B 



---



---

###Question 6. 
How do you tell the difference between the equal to and assignment operators?Describe a
condition and when you would use one.
####Equal , (==) :- this operator is basically used for comparision of two statments.

In [11]:
A=6
B=5
print(A==B)

False

####Assignment , (=) :- this operator is basically used for assigning one operend value to another.
example :- num_1=num_2 **Here we are assigning the, num_2 value to num_1**

In [10]:
num_1=3
num_2=4
num_1=num_2
print(num_1)

4



---



---

###Question 7. 
######Identify the three blocks in this code:
######spam = 0
######if spam == 10:
######print(&#39;eggs&#39;)
######if spam &gt; 5:
######print(&#39;bacon&#39;)
######else:
######print(&#39;ham&#39;)
######print(&#39;spam&#39;)
######print(&#39;spam&#39;)

In [44]:
spam = 0
if spam == 10:#False condition
  print('eggs')
  if spam > 5:#False condition
    print('bacon')
  else:#True condition
    print('ham')
  print('spam')
print('spam')

spam



---



---

###Question 8. 
Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints
Greetings! if anything else is stored in spam.

In [13]:
spam=int(input())
if spam==1:
  print("Hello")
elif spam==2:
  print("Howdy")
else:
  print("Greetings!")

1
Hello

In [14]:
spam=int(input())
if spam==1:
  print("Hello")
elif spam==2:
  print("Howdy")
else:
  print("Greetings!")

2
Howdy

In [15]:
spam=int(input())
if spam==1:
  print("Hello")
elif spam==2:
  print("Howdy")
else:
  print("Greetings!")

5
Greetings!



---

---

###Question 9.
If your programme is stuck in an endless loop, what keys you’ll press?
#####Sloution:-
We Use control+c


---



---

###Question 10. 
How can you tell the difference between break and continue?

###Continue :- The continue statement causes the loop to skip its current execution at some point and move on to the next iteration. Instead of terminating the loop like a break statement, it moves on to the subsequent execution.

In [29]:
for i in range(0,10):
    if i==7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

###Break :- A break statement is used inside both the while and for loops. It terminates the loop immediately and transfers execution to the new statement after the loop. For example, have a look at the code and its output

In [31]:
count = 0
while count<=100:
    print(count)
    count+=1
    if count==8:
        break

0
1
2
3
4
5
6
7



---



---

###Question 11. 
In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?
###They all do the same thing. range(Start,Stop,Step)

In [32]:
for i in range(10):# In this range start from 0 by Default and goes till 9 because upper bound(10) is excluded.
  print(i)

0
1
2
3
4
5
6
7
8
9

In [36]:
for i in range(0,10):#In this range start from 0 and goes till 9 because upper bound(10) is excluded.
  print(i)

0
1
2
3
4
5
6
7
8
9

In [37]:
for i in range(0,10,1):#In this range start from 0 and goes till 9 and with step 1. And here also Upper bound(10) is excluded.
  print(i)

0
1
2
3
4
5
6
7
8
9



---



---

###Question 12. 
Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent
program that prints the numbers 1 to 10 using a while loop.

In [38]:
# Using For loop
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
# Using While loop
i=1
while(i<11):
  print(i)
  i+=1 # insted if this we can wright i=i+1

1
2
3
4
5
6
7
8
9
10



---



---

###Question 13.
If you had a function named bacon() inside a module named spam, how would you call it after
importing spam?
###Solution :- This function can be called with spam.bacon().



---



---